html {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        #game {
            background-color: #fafafa;
            border: 1px solid black;
        }
    }
}